.faq-section {
  margin: 50px auto;
  background: #011638b9;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  color: #ddd;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.faq-item {
  border-bottom: 1px solid #605d5d;
  margin: auto 70px;
  padding: 1rem 0;
}

.faq-question {
  background: none;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 0;
  cursor: pointer;
  position: relative;
  color: #ddd;
  border-radius: 10px;
}

.faq-question::after {
  content: '+';
  position: absolute;
  right: 0;
  font-size: 1.5rem;
}

.faq-question.active::after {
  content: '-';
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.faq-answer.open {
  max-height: 200px;
  opacity: 1;
  margin-top: 0.5rem;
}
