nav {
  background-color: #011638;
  height: 30px;
  display: flex;
  border-radius: 50px;
  border: solid rgb(43, 43, 43) 2px;
  justify-content: space-between;
  padding: 8px 20px;
  align-items: center;
  position: fixed;
  top: 5px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}


nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links {
  margin-right: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.logo {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo a {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.logo img {
  width: 43px;
  border-radius: 50%;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-buttons button{
    background-color: rgb(122, 122, 122);
    padding: 9px 20px;
    border: none;
    border-radius: 50px;
    color: white;
    font-family: "nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}